@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


h1{
  color:red;
}
body{
  font-family:"sans-serif";
}
.nav{
color:red;
text-align : center;

}

.nav-li{
  display:inline;
  padding-left: 20px;
  border-color: red;
}
